body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
#quoteDisplay{
    padding: 2%;
    background-color:antiquewhite;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2%;
}


  input {
    margin: 5px 0;
    padding: 8px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background-color: #45a049;
  }